*{
  padding: 0%;
  margin: 0%;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: rgb(218, 215, 215);
display: flex;
flex-direction: column;
align-items: center;

}

.header{
  height: 70px;
  width: 100%;
  background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-img{
  width: 115px;
height: 32px;
background-image: url(./Logo.png);
background-repeat: no-repeat;
background-size: cover;


}

.header-search{
  width: 208px;
height: 32px;
border-radius: 10px;
border: 2px , rgb(123, 123, 123) , solid;

}
.others{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;

}

.home{
  width: 22.95px;
height: 24.02px;
background-image: url(./Vector.png);
background-size: 100% ,100%;
background-repeat: no-repeat;
background-size: cover;
}

.chat{
  width: 22.95px;
height: 24.02px;
background-image: url(./Vector\ \(1\).png);
background-repeat: no-repeat;
background-size: cover;
}


.category{
  width: 22.95px;
height: 24.02px;
background-image: url(./Icon.png);
background-repeat: no-repeat;
background-size: cover;
}

.toFavorites{
  width: 22.95px;
height: 24.02px;
background-image: url(./Vector\ \(2\).png);
background-repeat: no-repeat;
background-size: cover;
}

.users{
  width: 616px;
height: 220px;
background-color: rgb(255, 255, 255);
margin-top: 50px;
overflow-x: scroll;
border-radius: 10px;
display: flex;
flex-direction: row;

justify-content: center;
align-items: center;

gap: 20px;
}

.users-post{
  width: 616px;
height: 752px;
background-color: white;
margin-top: 20px;

}

.story__item{
  width: 80px;
  height: 88px;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 5px;
  

}
img{
width: 55px;
height: 55px;
border-radius: 50%;
}

.image{
  width: 64px;
height: 64px;
background-color: rgb(155, 153, 153);

border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.user-text{
 font-size: x-small;
 text-align: center;
}
.users-post{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 20px;
}

.post-text{
  font-size: larger;
  margin: 15px;
  margin-top: 10px;
  color: white;

}

.post__item{
  width: 610px;
  height:700px;
  background-color: rgb(251, 251, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}

.image2{
  width: 590px;
  height: 360px;
  background-color: rgb(109, 109, 109);
  background-image: url(./8.png);
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  justify-content:start;
  align-items: end;

}

.post-image{
  border-radius: 50%;
  margin: 10px;
}


.like-btn{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 180px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlbeaBRly4yzdQpH_GD3eZWjN6cy7L0nqku0yXoZY7TXLr3M1C_mCmEWjR03LVkyueL1Y&usqp=CAU);
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
left: 40px;

}

.coment-btn{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 115px;
  background-image: url(https://icons.veryicon.com/png/o/hardware/jackdizhu_pc/comment-25.png);
 background-size: cover;
  margin-right: 10px;
}

.likes{
color: white;
position: relative;
left: 40px;
}

.comentary{
  color: white;
}

.modal {
  display: none; 
  position: fixed;
  top: 200px;
  left: 550px;
  width: 400px;
  height: 700px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% ,100%;
  border-radius: 10px;
}

.closeModal{
  width: 50px;
  height: 30px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
}

